USE [master]
GO
/****** Object:  Database [Quanlynhasach]    Script Date: 15/12/2023 10:11:38 AM ******/
CREATE DATABASE [Quanlynhasach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanlynhasach', FILENAME = N'E:\sql\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Quanlynhasach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanlynhasach_log', FILENAME = N'E:\sql\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Quanlynhasach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlynhasach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlynhasach]
GO
/****** Object:  Table [dbo].[CA]    Script Date: 15/12/2023 10:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA](
	[ca] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 15/12/2023 10:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
	[mail] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/12/2023 10:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNV] [nchar](10) NULL,
	[tenNV] [nchar](30) NULL,
	[ngaysinh] [date] NULL,
	[diachi] [nchar](50) NULL,
	[luong] [nchar](10) NULL,
	[ca] [nchar](10) NULL
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[SACH](
	[maSach] [nchar](10) NULL,
	[tenSach] [nchar](50) NULL,
	[manph] [nchar](10) NULL,
	[theLoai] [nchar](50) NULL,
	[tacGia] [nchar](50) NULL,
	[giaTien] [int] NULL,
	[so] [nchar](10) NULL
) ON [PRIMARY]
GO
Create table THELOAI
(
	theloai nvarchar(50),
)
INSERT [dbo].[DANGNHAP] ([username], [password], [mail]) VALUES (N'duy123    ', N'123       ', N'fgfhghf                       ')
GO
USE [master]
GO
